.channel-select {
	font-size: 25px;
}
.channel-select {
	display: inline-block;
}

div:not(:last-child) .channel-select {
	margin-right:30px;
}

.active {
	font-weight: bold;
}

.hide {
	display: none;
}

.video-js {
	max-width: 95%;
}

@media (pointer : fine) {
	section {
		display: grid;
		grid-template-columns: 1fr 1fr; /* set column sizes here */
		grid-template-rows: auto auto; /* we want two rows */
		
		grid-gap: 10px; /* how far between cells? */
		grid-auto-flow: column; /* fill in by column, not row */
	}
}

@media (pointer : coarse) {
	section div:not(:first-child) {
			margin-top: 25px;
	}
	section {
		margin-top: 25px;
	}
}